<ion-view title="Progreso">
    <ion-content padding="true" class="has-header">
       
       <div class="list">

            <a class="item item-thumbnail-left" href="#">
              <img src="http://placehold.it/360x240">
              <h2>Producto 1</h2>
              <p>Descripcion de prueba</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
              <img src="http://placehold.it/360x240">
              <h2>Producto 2</h2>
              <p>Descripcion de prueba</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
              <img src="http://placehold.it/360x240">
              <h2>Producto 3</h2>
              <p>Descripcion de prueba</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
              <img src="http://placehold.it/360x240">
              <h2>Producto 4</h2>
              <p>Descripcion de prueba</p>
            </a>

        </div>
        <form class="list">
        </form>
    </ion-content>
</ion-view>