<ion-view title="Rutinas" ng-controller="rutinasCtrl">
    <ion-content padding="true" class="has-header">

        <div ng-show="semaforo">
	        <ion-list ng-repeat="rutine in rutines">
	            <ion-item ng-click="abrirRutina(rutine,$index)">{{rutine.nombre}} <i ng-if="$index%2==0"class="radio-icon ion-checkmark"></i></ion-item>
	            
	        </ion-list>
		</div>
		<div ng-hide="semaforo">
        <h2>{{rutina.nombre}}</h2>
	        <ion-list ng-repeat="ejercicio in rutina.ejercicios">
	            <ion-item> {{ejercicio.nombre}} repeticiones: {{ejercicio.reps}} realizadas: {{0}}</ion-item>
			             
			    
       				
     			
	        </ion-list>
			
        </div>
        <br>
        <div class="col col-22 col-offset-11">
        	<button class="button button-calm" ng-hide="semaforo" ng-click="verRutinas()">Mis Rutinas</button>
        </div>
    </ion-content>
</ion-view>